style.
    .table td,
    .table th {
        vertical-align: middle;
    }

    h1 {
        color: orange;
    }

    hr {
        background-color: #ddd;
    }

    .jumbotron {
        min-height: 100vh;
    }